<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
">

<!-- Creación de la Dependencia, esta va a llamarse miInforme y va a ser de tipo Informe el objeto que se va a inyectar, el cual estará en el paquete inversionOfControl. -->
<bean id="miInforme" class="inversionOfControl.Informe"></bean>





<!-- Ejemplo de creación de bean para ilustrar los patrones de diseño Singleton y Prototype  -->

<bean id="miSecretarioEmpleado" class="inversionOfControl.SecretarioEmpleado" scope="prototype"> 
	
	<property name="informeNuevo" ref="miInforme"></property>						
					
</bean>




</beans>